<!-- <div ng-controller="DateParserDemoCtrl">
 <p class="form-group">
<form  action="">
  <span class="divborder">To-Do: <input  type="text" name="todo"></span><br><br>
 <span class="divborder"></span>  <input class="divborder" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" /><br><br>
  <input class ="submitbutton" type="submit" value="Submit">



</form>
</p> -->

<div  class="divborder" >
  <h4>Formatting codes playground</h4>
  <p class="form-group">
    <label>To Do</label>
    <input type="text" ng-model="format" class="form-control">
  </p>
  <p class="form-group">
    <label>Date</label>
    <input type="text" class="form-control"  ng-model="date" />
    <div id="actionbutton">
          <button id="makenew">Create-To-Do</button>
        </div>
  </p>
</div>


